@import "../../variables"


.radio-toggle-item
	font-size $base-font-size

	&__input
		display none

	&__label
		position relative
		z-index 0
		display inline-block
		padding .75em .875em
		line-height 1
		white-space nowrap
		border .125em solid $input-border-color
		color $text-color
		background #fff
		cursor pointer
		user-select none

		&:not(:first-child)
			margin-left -.125em

		.radio-toggle-item:first-child &
			border-radius .1875em 0 0 .1875em

		.radio-toggle-item:last-child &
			border-radius 0 .1875em .1875em 0
			border-right-width .125em

		.radio-toggle-item:first-child:last-child &
			border-radius 0

		.radio-toggle-item--active &
			z-index 1
			color $theme-color
			border-color rgba($theme-color, 50%)

	&__text
		font-size .875em
