$theme-color = #01AFDE
$text-color = #1F263B
$input-border-color = #D4D5D8
$error-color = red
$success-color = green

$muted-background-color = #e9eaec
$muted-border-color = #d4d5d8
$muted-text-color = #a9abb1

$base-font-size = 16px
$transition-speed = .2s

