@import "../../variables"


.adt-input
	position relative
	box-sizing border-box
	display block
	font-size $base-font-size

	&__field
		box-sizing border-box
		display block
		width 100%
		padding .5625em .875em
		font-size .875em
		outline 0
		border 1px solid $input-border-color
		border-radius .1875em
		transition border-color $transition-speed

		&:hover
			border-color darken($input-border-color, 10%)

		&:active,
		&:focus
			border-color $theme-color
			transition none

		.adt-input--disabled &,
		.adt-input--disabled &:hover
			cursor default
			color $muted-text-color
			background $muted-background-color
			border-color $muted-border-color
